body {
  background-color: rgba(161, 0, 0, 0.3);
}

main {
  width: 1280px;
  margin: 0 auto 64px auto;
}

article {
  padding-bottom: 64px;
}

section {
  margin-left: 64px;
  margin-right: 64px;
}

.titleimage {
  width: 1278px;
}

.gallery {
  margin-top: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.gallery__image {
  width: 564px;
  min-width: 564px;
}
