body {
  background-color: rgba(161, 0, 0, 0.3);
}

div.basebox {
  background-color: rgba(252, 252, 252, 1);
  margin: 0px 250px;
}

h1.recipytitle {
  color: rgba(161, 0, 0, 1);
  margin: 20px;
}

div.ingredients {
  margin: 20px;
}

div.description {
  background-color: rgba(235, 235, 235, 1);
  margin: 20px;
}

div.instructions {
  margin: 20px;
}

div.servingsimg {
  margin: 20px;
}